@model HelloWorld.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<h1>Thank you, @Model.Name</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming, @Model.Name!  
    @:We will email any updates to @Model.Email.
}
else
{
    @:Sorry you can't make it.
}